.container {
  background-color: #89DA59;
}
body {

  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
  border: 30px;
  margin-left: auto;
  margin-right: auto;
  outline-color: #80BD9E;
  outline-style: groove;
  background-color: #F98866;
  outline-width: 30px;
  font-family: sans-serif;

}

h1 {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  color: #F6F6F6;
}

p {
    color: #F6F6F6;
text-align: center;

}

a {

  margin-left: auto;
  margin-right: auto;
  width: 6em;
  color: #F6F6F6;
  outline-style:
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.oval {
outline-style: groove;
outline-color: #80BD9E;
outline-width: 30px;
height: 9999999px;
width: 200px;
position: fixed;
left: 0px;


background-color: #89DA59;
}

#a1 {
  color: white;
}

  li {


}
